<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="SubsMapper">
	<resultMap type="Subs" id="subsResultMap">
		<id 	property="scNo" 		column="SC_NO" />
		<result property="scName" 		column="SC_NAME" />
		<result property="scBrand" 		column="SC_BRAND" />
		<result property="scColor" 		column="SC_COLOR" />
		<result property="scGrade" 		column="SC_GRADE" />
		<result property="scSpec" 		column="SC_SPEC" />
		<result property="resNo" 		column="RES_NO" />
		<result property="sCreateDate" 		column="SCREATEDATE" />
		<result property="sUpdateDate" 		column="SUPDATEDATE" />
	    <collection property="subsFiles" resultMap="subsFileResultMap" />	
	</resultMap>

	<resultMap type="SubsFiles" id="subsFileResultMap">
		<result property="fileName" column="FILENAME" />
        <result property="fileRename" column="FILERENAME" />
        <result property="filePath" column="FILEPATH" />
        <result property="fileLength" column="FILELENGTH" />
	</resultMap>
	
	<insert id="insertSubs" useGeneratedKeys="true" keyProperty="scNo" parameterType="Subs">     
        <selectKey keyProperty="scNo" resultType="int" order="BEFORE">
            SELECT SEQ_SUBS_NO.NEXTVAL FROM DUAL
        </selectKey>
        	
 		INSERT INTO SUBS_CAR (SC_NO, SC_NAME, SC_BRAND, SC_COLOR, SC_GRADE, SC_SPEC, RES_NO, SCREATEDATE)
 		VALUES (#{scNo }, #{scName }, #{scBrand }, #{scColor }, #{scGrade }, #{scSpec }, #{resNo }, SYSDATE)
	</insert>
	
	<insert id="insertSubsFiles" parameterType="SubsFiles">
<!-- 	  <selectKey keyProperty="scNo" resultType="int" order="BEFORE"> -->
<!-- 	    SELECT SEQ_SUBSFILES_NO.NEXTVAL FROM DUAL -->
<!-- 	  </selectKey> -->
	  INSERT INTO SUBS_CAR_FILES (FILENAME, FILERENAME, FILEPATH, FILELENGTH, SC_NO) 
	  VALUES(#{fileName}, #{fileRename}, #{filePath}, #{fileLength}, #{scNo})
	</insert>
	
	<select id="selectListCount" resultType="_int">   <!-- COUNT(*)이 쓰이면 ResultType이 쓰였구나 를 알수 있다. -->
		SELECT COUNT(*) FROM SUBS_CAR
	</select>
	
	<select id="selectBoardList" resultMap="subsResultMap">
		SELECT * FROM SUBS_CAR LEFT JOIN SUBS_CAR_FILES USING(SC_NO) ORDER BY SC_NO DESC
	</select>
	
	<select id="selectBoardByNo" resultMap="subsResultMap">
		SELECT * FROM SUBS_CAR LEFT JOIN SUBS_CAR_FILES USING(SC_NO) WHERE SC_NO = #{scNo }
	</select>

	<delete id="deleteBoard">
	    DELETE FROM SUBS_CAR SC
	        WHERE SC.SC_NO = #{scNo}
	</delete>

	
<!-- 	<delete id="deleteBoard"> -->
<!-- 	    DELETE FROM SUBS_CAR WHERE SC_NO = #{scNo} -->
<!-- 	</delete> -->
	
	<update id="updateBoard">
		UPDATE SUBS_CAR SET 
		SC_NAME = #{scName }, SC_BRAND = #{scBrand }
		, SC_COLOR = #{scColor }, SC_SPEC = #{scSpec }
		, SUPDATEDATE = SYSDATE WHERE SC_NO = #{scNo } 
	</update>
	
	<update id="updateBoardFiles">
		UPDATE SUBS_CAR_FILES SET 
		FILENAME = #{subsFiles.fileName }, FILERENAME = #{subsFiles.fileRename }
		, FILEPATH = #{subsFiles.filePath }, FILELENGTH = #{subsFiles.fileLength }
		WHERE SC_NO = #{scNo } 
	</update>
	
	<select id="searchSubsByKeyword" resultMap="subsResultMap">
		SELECT * FROM SUBS_CAR
		<if test="searchCondition == 'all'">
		WHERE SC_NAME LIKE '%'||#{searchKeyword }||'%' OR NOTICE_WRITER LIKE '%'||#{searchKeyword }||'%' OR NOTICE_CONTENT LIKE '%'||#{searchKeyword }||'%'		
		</if>
		<if test="searchCondition == 'writer'">
		WHERE NOTICE_WRITER LIKE '%'||#{searchKeyword }||'%'
		</if>
		<if test="searchCondition == 'title'">
		WHERE NOTICE_SUBJECT LIKE '%'||#{searchKeyword }||'%'
		</if>
		<if test="searchCondition == 'content'">
		WHERE SC_SPEC LIKE '%'||#{searchKeyword }||'%'
		</if>
	</select>

	
</mapper>
