<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="UserMapper">
	<resultMap type="User" id="userResultMap">
		<id 	property="userNo" 		column="USER_NO" />
		<result property="userId" 		column="USER_ID" />
		<result property="userPw" 		column="USER_PW" />
		<result property="userName" 	column="USER_NAME" />
		<result property="userEmail" 	column="USER_EMAIL" />
		<result property="userPhone" 	column="USER_PHONE" />
		<result property="dLicense" 	column="D_LICENSE" />
		<result property="subsYn" 		column="SUBS_YN" />
		<result property="userYn" 		column="USER_YN" />
		<result property="userAddress" 	column="USER_ADDRESS" />
		<result property="uDate" 		column="U_DATE" />
		<result property="adminYn" 		column="ADMIN_YN" />
	</resultMap>

	<insert id="insertUser">
 		INSERT INTO USER_TBL (USER_NO, USER_ID, USER_PW, USER_NAME, USER_EMAIL, USER_PHONE, D_LICENSE, USER_ADDRESS, ADMIN_YN)
 		VALUES(SEQ_USER_NO.NEXTVAL, #{userId }, #{userPw }, #{userName }, #{userEmail }, #{userPhone }, #{dLicense }, DEFAULT, DEFAULT)
	</insert>
	
	<select id="checkUserLogin" resultMap="userResultMap">
		SELECT * FROM USER_TBL WHERE USER_ID = #{userId } AND USER_PW = #{userPw }
	</select>	
	
	<select id="getUserById" resultMap="userResultMap">
		SELECT * FROM USER_TBL WHERE USER_ID = #{userId }
	</select>
		
	<delete id="deleteUser">
		DELETE FROM USER_TBL WHERE USER_ID = #{userId }
	</delete>

	<update id="updateUser">
		UPDATE USER_TBL SET USER_PW=#{userPw }, USER_EMAIL=#{userEmail }, USER_PHONE=#{userPhone }, D_LICENSE=#{dLicense } WHERE USER_ID=#{userId }
	</update>	

	<select id="selectUserList" resultMap="userResultMap">
		SELECT * FROM USER_TBL ORDER BY USER_NO DESC
	</select>
	
	<select id="selectUserByNo" resultMap="userResultMap">
		SELECT * FROM USER_TBL WHERE USER_NO = #{userNo }
	</select>
	
	<update id="updateUser2">
		UPDATE USER_TBL SET USER_NAME = #{userName}, USER_ADDRESS = #{userAddress}, D_LICENSE = #{dLicense}  WHERE USER_NO = #{userNo}
	</update>
	
	<delete id="deleteUser2">
		DELETE FROM USER_TBL WHERE USER_NO = #{userNo} AND USER_ID = #{userId}
	</delete>
	
</mapper>
