@charset "UTF-8";

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.notice-table {
    font-size: 13px;
    width: 100%;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.notice-table a {
    color: #333;
    display: inline-block;
    line-height: 1.4;
    word-break: break-all;
    vertical-align: middle;
}

.notice-table a:hover {
    text-decoration: underline;
}

.notice-table th {
    text-align: center;
}

.notice-table .th-num {
    width: 100px;
    text-align: center;
}

.notice-table .th-date {
    width: 200px;
}

.notice-table th,
.notice-table td {
    padding: 14px 0;
}

.notice-table tbody td {
    border-top: 1px solid #e7e7e7;
    text-align: center;
}

.notice-table tbody th {
    padding-left: 28px;
    padding-right: 14px;
    border-top: 1px solid #e7e7e7;
    text-align: left;
}