<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="QReplyMapper">
	<resultMap type="QReply" id="qreplyResultMap">
		<id 	property="qnaReplyNo" 		column="Q_REPLY_NO"/>
		<result property="userId" 	column="USER_ID"/>
 		<result property="qnaReplyContent" column="Q_REPLY_CONTENT"/> 
		<result property="rUpdate" 	column="R_UPDATE"/>
		<result property="qNo" 	column="Q_NO"/>
	</resultMap>
	<insert id="insertQReply">
		INSERT INTO REPLY_QNA VALUES(SEQ_Q_REPLY_NO.NEXTVAL, #{qnaReplyNo }, #{userId}, #{qnaReplyContent}, DEFAULT, #{qNo})
	</insert>
	
	<select id="selectQReplyList" resultMap="qreplyResultMap">
		SELECT * FROM REPLY_QNA WHERE Q_REPLY_NO = #{qnaReplyNo } 
	</select>
	
	<update id="updateReply">
		UPDATE REPLY_QNA SET Q_REPLY_CONTENT = #{qnaReplyContent}, USER_ID = #{userId} WHERE Q_REPLY_NO = #{qnaReplyNo}
	</update>
	
	<update id="deleteReply">
		UPDATE REPLY_QNA SET R_STATUS = 'N' WHERE REPLY_NO = #{replyNo} AND REPLY_WRITER = #{replyWriter}
	</update>
</mapper>