<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ReviewMapper">
	<resultMap type="Review" id="reviewResultMap">
		<id property="rNo" column="R_NO"/>
		<result property="userId" column="USER_ID"/>
		<result property="rSubject" column="R_SUBJECT"/>
		<result property="rContent" column="R_CONTENT"/>
		<result property="rCreate" column="R_CREATE"/>
		<result property="fileName" column="FILENAME"/>
		<result property="fileRename" column="FILERENAME"/>
		<result property="filePath" 	column="FILEPATH"/>
		<result property="fileLength" column="FILELENGTH"/>
		<result property="resNo" column="RES_NO"/>
		<result property="userNo" column="USER_NO"/>
	</resultMap>
	<insert id="insertReview">
		INSERT INTO REVIEW VALUES(SEQ_REVIEW_NO.NEXTVAL, #{userId }, #{resNo }, #{R_SUBJECT}, #{R_CONTENT}, #{fileName}, #{fileRename},  #{filePath}, #{fileLength})
	</insert>

	<select id="selectListCount" resultType="_int">
		SELECT COUNT (*) FROM REVIEW
	</select>
	
	<select id="selectReviewList" resultMap="reviewResultMap">
		SELECT * FROM REVIEW WHERE  ORDER BY R_CREATE DESC
	</select>

	<select id="selectReviewByNo" resultMap="reviewResultMap">
		SELECT * FROM REVIEW WHERE R_NO = #{rNo } 
	</select>
	
	<update id="deleteReview">
		UPDATE REVIEW SET WHERE R_NO = #{rNo} AND USER_ID = #{userId}
	</update>
	
	<select id="selectListByKeywordCount" resultType="_int">
		SELECT COUNT (*) FROM Board_TBL
		<if test="searchCondition == 'all'">
		WHERE Board_CONTENT LIKE '%'||#{searchKeyword}||'%' OR Board_SUBJECT LIKE '%'||#{searchKeyword}||'%' OR Board_WRITER LIKE '%'||#{searchKeyword}||'%'
		</if>
		<if test="searchCondition == 'content'">
		WHERE Board_CONTENT LIKE '%'||#{searchKeyword}||'%' 
		</if>
		<if test="searchCondition == 'title'">
		WHERE Board_SUBJECT LIKE '%'||#{searchKeyword}||'%' 
		</if>
		<if test="searchCondition == 'writer'">
		WHERE Board_WRITER LIKE '%'||#{searchKeyword}||'%'
		</if>
		AND B_STATUS = 'Y'
	</select>
	
	<update id="updateReview">
		UPDATE REVIEW SET R_SUBJECT = #{rSubject}, R_CONTENT = #{rContent}, FILENAME = #{fileName}, FILERENAME = #{fileRename}, FILEPATH = #{filePath}, FILELENGTH = #{fileLength}, RES_NO = resNo WHERE USER_NO = #{userNo}
	</update>
</mapper>